<!doctype html>
<html>
  <body>
    <h2>Developer Tools List</h2>
    <form >
      <label for="tool">Enter a developer tools: </label> &nbsp;
      <input name="tool" id="tool" type="text" [(ngModel)]="tool"/>

      <button (click)="addTool()">Add Developer Tools</button>
    </form>
    <br>

    <h3>List of Developer Tools</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Developer Tool</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tool of toolList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ tool }}</td>
          <td>
            <button (click)="updateTool(i)">Edit</button> &nbsp;
            <button (click)="deleteTool(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
