<!doctype html>
<html>
  <body>
    <h2>Movie List</h2>
    <form >
      <label for="movie">Enter a movie: </label> &nbsp;
      <input name="movie" id="movie" type="text" [(ngModel)]="movie"/>

      <button (click)="addMovie()">Add Movie</button>
    </form>
    <br>

    <h3>List of Movies</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Movie Titles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movieList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ movie }}</td>
          <td>
            <button (click)="updateMovie(i)">Edit</button> &nbsp;
            <button (click)="deleteMovie(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
