<!doctype html>
<html>
  <body>
    <h2>Furniture List</h2>
    <form >
      <label for="furniture">Enter a furniture: </label> &nbsp;
      <input name="furniture" id="furniture" type="text" [(ngModel)]="furniture"/>

      <button (click)="addFurniture()">Add Furniture</button>
    </form>
    <br>

    <h3>List of Furnitures</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Furniture</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let furniture of furnitureList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ furniture }}</td>
          <td>
            <button (click)="updateFurniture(i)">Edit</button> &nbsp;
            <button (click)="deleteFurniture(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
