<!doctype html>
<html>
  <body>
    <h2>Book List</h2>
    <form >
      <label for="book">Enter a book: </label> &nbsp;
      <input name="book" id="book" type="text" [(ngModel)]="book"/>

      <button (click)="addBook()">Add Book</button>
    </form>
    <br>

    <h3>List of Books</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Books</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ book }}</td>
          <td>
            <button (click)="updateBook(i)">Edit</button> &nbsp;
            <button (click)="deleteBook(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
