<!doctype html>
<html>
  <body>
    <h2>Library List</h2>
    <form >
      <label for="library">Enter a library: </label> &nbsp;
      <input name="library" id="library" type="text" [(ngModel)]="library"/>

      <button (click)="addLibrary()">Add Library</button>
    </form>
    <br>

    <h3>List of Libraries</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Library</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let library of libraryList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ library }}</td>
          <td>
            <button (click)="updateLibrary(i)">Edit</button> &nbsp;
            <button (click)="deleteLibrary(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
