<!doctype html>
<html>
  <body>
    <h2>Mobile App List</h2>
    <form >
      <label for="apps">Enter a mobile app: </label> &nbsp;
      <input name="apps" id="apps" type="text" [(ngModel)]="apps"/>

      <button (click)="addApp()">Add Mobile App</button>
    </form>
    <br>

    <h3>List of Mobile Apps</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Mobile App</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apps of appsList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ apps }}</td>
          <td>
            <button (click)="updateApp(i)">Edit</button> &nbsp;
            <button (click)="deleteApp(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
