<!doctype html>
<html>
  <body>
    <h2>Fruit List</h2>
    <form >
      <label for="fruit">Enter a fruit: </label> &nbsp;
      <input name="fruit" id="fruit" type="text" [(ngModel)]="fruit"/>

      <button (click)="addFruit()">Add Fruit</button>
    </form>
    <br>

    <h3>List of Fruit Names</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Fruit Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fruit of fruitList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ fruit }}</td>
          <td>
            <button (click)="updateFruit(i)">Edit</button> &nbsp;
            <button (click)="deleteFruit(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
