<!doctype html>
<html>
  <body>
    <h2>TV Show List</h2>
    <form >
      <label for="show">Enter a TV show: </label> &nbsp;
      <input name="show" id="show" type="text" [(ngModel)]="show"/>

      <button (click)="addShow()">Add TV Show</button>
    </form>
    <br>

    <h3>List of TV Shows</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>TV Show</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let show of showList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ show }}</td>
          <td>
            <button (click)="updateShow(i)">Edit</button> &nbsp;
            <button (click)="deleteShow(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
