<!doctype html>
<html>
  <body>
    <h2>Flower List</h2>
    <form >
      <label for="flower">Enter a flower: </label> &nbsp;
      <input name="flower" id="flower" type="text" [(ngModel)]="flower"/>

      <button (click)="addFlower()">Add Flower</button>
    </form>
    <br>

    <h3>List of Flowers</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Flower</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flower of flowerList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ flower }}</td>
          <td>
            <button (click)="updateFlower(i)">Edit</button> &nbsp;
            <button (click)="deleteFlower(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
