<!doctype html>
<html>
  <body>
    <h2>Sports List</h2>
    <form >
      <label for="sport">Enter a sport: </label> &nbsp;
      <input name="sport" id="sport" type="text" [(ngModel)]="sport"/>

      <button (click)="addSport()">Add Sport</button>
    </form>


    <h3>List of Sports</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Sport</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sport of sportList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ sport }}</td>
          <td>
            <button (click)="updateSport(i)">Edit</button> &nbsp;
            <button (click)="deleteSport(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
