<!doctype html>
<html>
  <body>
    <h2>Course List</h2>
    <form >
      <label for="course">Enter a course: </label> &nbsp;
      <input name="course" id="course" type="text" [(ngModel)]="course"/>

      <button (click)="addCourse()">Add Course</button>
    </form>
    <br>

    <h3>List of Courses</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Courses</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courseList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ course }}</td>
          <td>
            <button (click)="updateCourse(i)">Edit</button> &nbsp;
            <button (click)="deleteCourse(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
