<!doctype html>
<html>
  <body>
    <h2>Destination List</h2>
    <form >
      <label for="destination">Enter a destination: </label> &nbsp;
      <input name="destination" id="destination" type="text" [(ngModel)]="destination"/>

      <button (click)="addDestination()">Add Destination</button>
    </form>
    <br>

    <h3>List of Destinations</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Destination</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let destination of destinationList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ destination }}</td>
          <td>
            <button (click)="updateDestination(i)">Edit</button> &nbsp;
            <button (click)="deleteDestination(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
