<!doctype html>
<html>
  <body>
    <h2>Event List</h2>
    <form>
      <label for="event">Name of the event: </label> &nbsp;
      <input name="event" id="event" type="text" [(ngModel)]="event" />
      <br><br>
      <label for="date">Enter a date: </label> &nbsp;
      <input name="date" id="date" type="date" [(ngModel)]="date" />
      <br><br>
      <button type="button" (click)="addEvent()">Add Event</button>
    </form>
    <br>

    <h3>List of Events</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Event</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ event.event }}</td>
          <td>{{ event.date }}</td>
          <td>
            <button (click)="updateEvent(i)">Edit</button> &nbsp;
            <button (click)="deleteEvent(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
