<!doctype html>
<html>
  <body>
    <h2>Composer List</h2>
    <form >
      <label for="composer">Enter a composer: </label> &nbsp;
      <input name="composer" id="composer" type="text" [(ngModel)]="composer"/>

      <button (click)="addComposer()">Add Composer</button>
    </form>
    <br>

    <h3>List of Composer Names</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Composer Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let composer of composerList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ composer }}</td>
          <td>
            <button (click)="updateComposer(i)">Edit</button> &nbsp;
            <button (click)="deleteComposer(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
