<!doctype html>
<html>
  <body>
    <h2>Phone Contact List</h2>
    <form>
      <label for="name">Enter a name: </label> &nbsp;
      <input name="name" id="name" type="text" [(ngModel)]="name" /><br><br>

      <label for="number">Enter a phone number: </label> &nbsp;
      <input name="number" id="number" type="number" [(ngModel)]="number" /><br><br>

      <button type="button" (click)="addPcontact()">Add Phone Contact</button>
    </form>

    <div>
      <h3>List of Phone Contacts:</h3>
      <ul>
        <li *ngFor="let contact of contactList">
          {{ contact.name }} - {{ contact.number }}
        </li>
      </ul>
    </div>
  </body>
</html>
