<!DOCTYPE html>
<h1>50 Angular Data Structures</h1>

<a routerLink="studentlist">Student List</a>
<br>
<a routerLink="employeelist">Employee List</a>
<br>
<a routerLink="fruitlist">Fruit List</a>
<br>
<a routerLink="courselist">Course List</a>
<br>
<a routerLink="booklist">Book List</a>
<br>
<a routerLink="citylist">City List</a>
<br>
<a routerLink="movielist">Movie List</a>
<br>
<a routerLink="carmodellist">Car Model List</a>
<br>
<a routerLink="productlist">Product List</a>
<br>
<a routerLink="subjectlist">Subject List</a>
<br>
<a routerLink="countrylist">Country List</a>
<br>

<router-outlet></router-outlet>
