<!DOCTYPE html>
<h1>50 Angular Data Structures</h1>

<a routerLink="studentlist">Student List</a>
&nbsp;
<a routerLink="employeelist">Employee List</a>
&nbsp;
<a routerLink="fruitlist">Fruit List</a>
&nbsp;
<a routerLink="courselist">Course List</a>
&nbsp;
<a routerLink="booklist">Book List</a>
&nbsp;
<a routerLink="citylist">City List</a>
&nbsp;
<a routerLink="movielist">Movie List</a>
&nbsp;
<a routerLink="carmodellist">Car Model List</a>
&nbsp;
<a routerLink="productlist">Product List</a>
&nbsp;
<a routerLink="subjectlist">Subject List</a>
&nbsp;
<a routerLink="countrylist">Country List</a>
&nbsp;
<a routerLink="sportslist">Sports List</a>
&nbsp;
<a routerLink="vegetablelist">Vegetable List</a>
&nbsp;
<a routerLink="animallist">Animal List</a>
&nbsp;
<a routerLink="toollist">Tool List</a>
&nbsp;
<a routerLink="languagelist">Language List</a>
&nbsp;
<a routerLink="gamelist">Game List</a>
&nbsp;
<a routerLink="softwarelist">Software List</a>
&nbsp;
<a routerLink="phonecontactlist">Phone Contact List</a>
&nbsp;
<a routerLink="musicplaylist">Music Playlist</a>
<br>
<a routerLink="foodmenulist">Food Menu List</a>
<br>
<a routerLink="grocerylist">Grocery List</a>
<br>
<a routerLink="classroomlist">Classroom List</a>
<br>
<router-outlet></router-outlet>
