<!doctype html>
<html>
  <body>
    <h2>Language List</h2>
    <form >
      <label for="language">Enter a language: </label> &nbsp;
      <input name="language" id="language" type="text" [(ngModel)]="language"/>

      <button (click)="addLanguage()">Add Language</button>
    </form>
    <br>

    <h3>List of Languages</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Language</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let language of languageList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ language }}</td>
          <td>
            <button (click)="updateLanguage(i)">Edit</button> &nbsp;
            <button (click)="deleteLanguage(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
