<!doctype html>
<html>
  <body>
    <h2>Painting List</h2>
    <form >
      <label for="painting">Enter a painting: </label> &nbsp;
      <input name="painting" id="painting" type="text" [(ngModel)]="painting"/>

      <button (click)="addPainting()">Add Painting</button>
    </form>
    <br>

    <h3>List of Paintings</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Painting</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let painting of paintingList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ painting }}</td>
          <td>
            <button (click)="updatePainting(i)">Edit</button> &nbsp;
            <button (click)="deletePainting(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
