<!doctype html>
<html>
  <body>
    <h2>Budget List</h2>
    <form>
      <label for="item">Enter an item: </label> &nbsp;
      <input name="item" id="item" type="text" [(ngModel)]="item" />
      <br><br>
      <label for="amount">Enter an amount: </label> &nbsp;
      <input name="amount" id="amount" type="number" [(ngModel)]="amount" />
      <br><br>
      <button type="button" (click)="addBudget()">Add Budget</button>
    </form>
    <br>

    <h3>List of Budget</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let budget of budgetList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ budget.item }}</td>
          <td>{{ budget.amount }}</td>
          <td>
            <button (click)="updateBudget(i)">Edit</button> &nbsp;
            <button (click)="deleteBudget(i)">Delete</button>
          </td>
      </tbody>
    </table>
  </body>
</html>
