<!doctype html>
<html>
  <body>
    <h2>Classroom List</h2>
    <form>
      <label for="name">Enter a student name: </label> &nbsp;
      <input name="name" id="name" type="text" [(ngModel)]="student"/>

      <button (click)="addStudent()">Add Name</button>
    </form>
    <br>

    <h3>List of Student Names</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Student Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ student }}</td>
          <td>
            <button (click)="updateStudent(i)">Edit</button> &nbsp;
            <button (click)="deleteStudent(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
