<!doctype html>
<html>
  <body>
    <h2>Food Menu</h2>
    <form >
      <label for="food">Enter a food: </label> &nbsp;
      <input name="food" id="food" type="text" [(ngModel)]="food"/>

      <button (click)="addFood()">Add Food</button>
    </form>
    <br>

    <h3>List of Foods</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Foods</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foodList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ food }}</td>
          <td>
            <button (click)="updateFood(i)">Edit</button> &nbsp;
            <button (click)="deleteFood(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
