<!doctype html>
<html>
  <body>
    <h2>Presentation List</h2>
    <form >
      <label for="presentation">Enter a presentation: </label> &nbsp;
      <input name="presentation" id="presentation" type="text" [(ngModel)]="presentation"/>

      <button (click)="addPresentation()">Add Presentation</button>
    </form>
    <br>

    <h3>List of Presentations</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Presentation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let presentation of presentationList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ presentation }}</td>
          <td>
            <button (click)="updatePresentation(i)">Edit</button> &nbsp;
            <button (click)="deletePresentation(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
