<!doctype html>
<html>
  <body>
    <h2>Framework List</h2>
    <form >
      <label for="framework">Enter a framework: </label> &nbsp;
      <input name="framework" id="framework" type="text" [(ngModel)]="framework"/>

      <button (click)="addFramework()">Add Framework</button>
    </form>
    <br>

    <h3>List of Frameworks</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Framework</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let framework of frameworkList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ framework }}</td>
          <td>
            <button (click)="updateFramework(i)">Edit</button> &nbsp;
            <button (click)="deleteFramework(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
