<!doctype html>
<html>
  <body>
    <h2>Animal List</h2>
    <form >
      <label for="animal">Enter a animal: </label> &nbsp;
      <input name="animal" id="animal" type="text" [(ngModel)]="animal"/>

      <button (click)="addAnimal()">Add Animal</button>
    </form>


    <h3>List of Animals</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Animal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animalList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ animal }}</td>
          <td>
            <button (click)="updateAnimal(i)">Edit</button> &nbsp;
            <button (click)="deleteAnimal(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
