<!doctype html>
<html>
  <body>
    <h2>Laptop List</h2>
    <form >
      <label for="laptop">Enter a laptop: </label> &nbsp;
      <input name="laptop" id="laptop" type="text" [(ngModel)]="laptop"/>

      <button (click)="addLaptop()">Add Laptop</button>
    </form>
    <br>

    <h3>List of Laptop Models</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Laptop Model</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laptop of laptopList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ laptop }}</td>
          <td>
            <button (click)="updateLaptop(i)">Edit</button> &nbsp;
            <button (click)="deleteLaptop(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
