<!doctype html>
<html>
  <body>
    <h2>Building List</h2>
    <form >
      <label for="building">Enter a building: </label> &nbsp;
      <input name="building" id="building" type="text" [(ngModel)]="building"/>

      <button (click)="addBuilding()">Add Building</button>
    </form>
    <br>

    <h3>List of Buildings</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Building</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let building of buildingList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ building }}</td>
          <td>
            <button (click)="updateBuilding(i)">Edit</button> &nbsp;
            <button (click)="deleteBuilding(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
