<!doctype html>
<html>
  <body>
    <h2>Tour List</h2>
    <form>
      <label for="artist">Name of the artist: </label> &nbsp;
      <input name="artist" id="artist" type="text" [(ngModel)]="artist"/><br><br>

      <label for="date">Enter a tour date: </label> &nbsp;
      <input name="date" id="date" type="date" [(ngModel)]="date"/><br><br>

      <label for="location">Enter location: </label> &nbsp;
      <input name="location" id="location" type="text" [(ngModel)]="location"/><br><br>

      <button type="button" (click)="addTour()">Add Tour Date</button>
    </form>
    <br>

    <h3>List of Tour Dates</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Artist Name</th>
          <th>Tour Date</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tour of tourList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ tour.artist }}</td>
          <td>{{ tour.date }}</td>
          <td>{{ tour.location }}</td>
          <td>
            <button (click)="updateTour(i)">Edit</button> &nbsp;
            <button (click)="deleteTour(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
