<!doctype html>
<html>
  <body>
    <h2>Video List</h2>
    <form >
      <label for="video">Enter a Video: </label> &nbsp;
      <input name="video" id="video" type="text" [(ngModel)]="video"/>

      <button (click)="addVideo()">Add Video</button>
    </form>
    <br>

    <h3>List of Videos</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Video</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videoList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ video }}</td>
          <td>
            <button (click)="updateVideo(i)">Edit</button> &nbsp;
            <button (click)="deleteVideo(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
