<!doctype html>
<html>
  <body>
    <h2>Laptop Specifications List</h2>
    <form>
      <label for="processor">Enter a laptop processor: </label> &nbsp;
      <input name="processor" id="processor" type="text" [(ngModel)]="processor" />
      <br><br>
      <label for="ram">Enter RAM size (GB): </label> &nbsp;
      <input name="ram" id="ram" type="number" [(ngModel)]="ram" />
      <br><br>
      <label for="os">Enter operating system: </label> &nbsp;
      <input name="os" id="os" type="text" [(ngModel)]="os" /><br><br>

      <button type="button" (click)="addSpec()">Add Laptop Specification</button>
    </form>

    <br>

    <h3>List of Laptop Specifications</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Laptop Processor</th>
          <th>RAM</th>
          <th>Operating System</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spec of specList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ spec.processor }}</td>
          <td>{{ spec.ram }} GB</td>
          <td>{{ spec.os }}</td>
          <td>
            <button (click)="updateSpec(i)">Edit</button> &nbsp;
            <button (click)="deleteSpec(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
