<!doctype html>
<html>
  <body>
    <h2>Country List</h2>
    <form >
      <label for="country">Enter a country: </label> &nbsp;
      <input name="country" id="country" type="text" [(ngModel)]="country"/>

      <button (click)="addCountry()">Add Country</button>
    </form>


    <h3>List of Countries</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countryList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ country }}</td>
          <td>
            <button (click)="updateCountry(i)">Edit</button> &nbsp;
            <button (click)="deleteCountry(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
